In [68]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt
%matplotlib inline

In [106]:
data = pd.read_csv("Food_Inspections.csv")
data[:3]

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,2028365,PHLOUR BAKERY AND CAFE,PHLOUR BAKERY AND CAFE,2522179.0,Bakery,Risk 1 (High),1138 W BRYN MAWR AVE,CHICAGO,IL,60660.0,04/14/2017,License Re-Inspection,Pass,"11. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, D...",41.983739,-87.659647,"(41.98373915183195, -87.65964672940271)"
1,1959235,WASABI,WASABI RAMEN,2492241.0,Restaurant,Risk 3 (Low),2101-2115 N MILWAUKEE AVE,CHICAGO,IL,60647.0,04/14/2017,License Re-Inspection,Pass,NaN,41.919522,-87.691587,"(41.91952161427481, -87.6915871617949)"
2,1959234,WASABI,WASABI RAMEN,2488598.0,Restaurant,Risk 1 (High),2101-2115 N MILWAUKEE AVE,CHICAGO,IL,60647.0,04/14/2017,License Re-Inspection,Pass,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",41.919522,-87.691587,"(41.91952161427481, -87.6915871617949)"

In [107]:
data_ = data.dropna()

In [108]:
data_['Risk'] = data_['Risk'].apply(lambda x: int(str(x)[5]))
data_['Zip'] = data_['Zip'].apply(lambda x: str(x)[:-2])

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [118]:
#table for numerical data
data_.iloc[:, [5,14,15]].describe()

                Risk       Latitude      Longitude
count  115239.000000  115239.000000  115239.000000
mean        1.326391      41.878958     -87.676928
std         0.586120       0.082133       0.059652
min         1.000000      41.644670     -87.914428
25%         1.000000      41.820583     -87.708361
50%         1.000000      41.890944     -87.667042
75%         2.000000      41.939486     -87.634649
max         3.000000      42.021064     -87.525094

In [117]:
#table for categorical data
data_.iloc[:, [4,9,11,12,13]].describe()

,Facility Type,Zip,Inspection Type,Results,Violations
count,115239,115239,115239,115239,115239
unique,358,60,58,6,114231
top,Restaurant,60614,Canvass,Pass,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...
freq,78565,4191,59177,76382,31

In [129]:
data_.groupby(['Results']).count().iloc[:,0]

Results
Fail                  25022
No Entry                261
Not Ready                21
Out of Business          32
Pass                  76382
Pass w/ Conditions    13521
Name: Inspection ID, dtype: int64

In [137]:
data_.groupby(['Facility Type'])['Risk'].mean()

Facility Type
(convenience store)                       3.000000
(gas station)                             3.000000
1005 NURSING HOME                         1.000000
1023                                      1.000000
1023 CHILDERN'S SERVICE FACILITY          1.000000
1023 CHILDERN'S SERVICE S FACILITY        1.000000
1023 CHILDERN'S SERVICES FACILITY         1.000000
1023 CHILDREN'S SERVICES FACILITY         1.000000
1023-CHILDREN'S SERVICES FACILITY         1.000000
1584-DAY CARE ABOVE 2 YEARS               1.000000
A-Not-For-Profit Chef Training Program    1.000000
AFTER SCHOOL PROGRAM                      1.222222
ART GALLERY                               3.000000
ART GALLERY W/WINE AND BEER               3.000000
ASSISSTED LIVING                          1.000000
ASSISTED LIVING                           1.000000
Adult Family Care Center                  1.000000
Airport Lounge                            2.000000
Assisted Living                           1.000000
BAKERY/ RESTAURANT                        2.000000
BAKERY/DELI                               1.000000
BAKERY/GROCERY                            2.000000
BAKERY/RESTAURANT                         2.000000
BANQUET                                   1.040000
BANQUET FACILITY                          1.000000
BANQUET HALL                              1.163934
BANQUET ROOM                              1.000000
BAR                                       3.000000
BAR/GRILL                                 2.000000
BEFORE AND AFTER SCHOOL PROGRAM           2.000000
                                            ...
cooking school                            1.000000
dollar store                              3.000000
donut shop                                2.000000
drug treatment facility                   2.000000
employee kitchen                          1.000000
fish market                               2.000000
fitness center                            2.000000
gas station                               3.000000
grocery                                   3.000000
grocery & restaurant                      1.000000
grocery/butcher                           2.000000
grocery/dollar store                      3.000000
hooka lounge                              3.000000
ice cream shop                            2.000000
incubator                                 1.000000
live butcher                              2.000000
meat packing                              2.000000
newsstand                                 3.000000
night club                                3.000000
pharmacy/grocery                          3.000000
restaurant                                1.000000
smoothie bar                              2.000000
snack shop                                2.000000
tavern                                    3.000000
tavern/restaurant                         3.000000
theater                                   3.000000
video store                               3.000000
warehouse                                 3.000000
watermelon house                          3.000000
weight loss program                       3.000000
Name: Risk, dtype: float64

In [138]:
data_.groupby(['Zip'])['Risk'].mean()

Zip
60501    2.666667
60601    1.205603
60602    1.265476
60603    1.196737
60604    1.325407
60605    1.251748
60606    1.220696
60607    1.169043
60608    1.375038
60609    1.429423
60610    1.199602
60611    1.183637
60612    1.469231
60613    1.275790
60614    1.194226
60615    1.387908
60616    1.288984
60617    1.409941
60618    1.293348
60619    1.563039
60620    1.556005
60621    1.692226
60622    1.272357
60623    1.427645
60624    1.706856
60625    1.284012
60626    1.286249
60628    1.513820
60629    1.338805
60630    1.245399
60631    1.175599
60632    1.307383
60633    1.407960
60634    1.260280
60636    1.648875
60637    1.455214
60638    1.304579
60639    1.349885
60640    1.245997
60641    1.273936
60642    1.228615
60643    1.376221
60644    1.592062
60645    1.308876
60646    1.204793
60647    1.290215
60649    1.529915
60651    1.616210
60652    1.355301
60653    1.380952
60654    1.170984
60655    1.341826
60656    1.127310
60657    1.194342
60659    1.300935
60660    1.278754
60661    1.209016
60666    1.379780
60707    1.298762
60827    1.481481
Name: Risk, dtype: float64